# Taken from https://console.cloud.google.com/apis/

YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

SECRET=

NEXTAUTH_URL=http://localhost:3000

# Taken from https://developer.twitter.com/

# Note for Twitter it's API Key/Secret for Oauth1 and Client for Oauth2

TWITTER_ID=
TWITTER_SECRET=

# Note: GitHub ClientId/ClientSecret Taken from https://github.com/settings/developers

# PostgreSQL DB Information

DATABASE_URL=
