# YouTube Information
# Taken from https://console.cloud.google.com/apis/

GOOGLE_CLIENT_EMAIL=example
GOOGLE_API_KEY_PRIVATE=example

# Spotify Information

SPOTIFY_CLIENT_ID=example
SPOTIFY_CLIENT_SECRET=example
SPOTIFY_REFRESH_TOKEN=example
