<!-- Production:
- Production environment variables set on Vercel
- Switch DATABASE_URL to production postgres
- Production GITHUB_ID=
- Production GITHUB_SECRET=
- Production NEXTAUTH_URL=https://maxdemaio.com
-->

<!-- Development:
- Switch DATABASE_URL to local postgres
- Development GITHUB_ID=
- Development GITHUB_SECRET=
-->

# Taken from https://console.cloud.google.com/apis/

YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

SECRET=

NEXTAUTH_URL=http://localhost:3000

# GitHub ClientId/ClientSecret Taken from https://github.com/settings/developers

GITHUB_ID=
GITHUB_SECRET=

# PostgreSQL DB Information

DATABASE_URL=""

<!-- Production DBs -->

<!-- DATABASE_URL="" -->

<!-- SHADOW_DATABASE_URL="" -->
