@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind’s @apply directive to easily extract 
common utility patterns to CSS component classes.
This essentially allows us to make our own tailwind-like classNames. */

html {
  min-width: 360px;
  /* Notably for our "top" button in blog posts */
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
