@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind’s @apply directive to easily extract 
common utility patterns to CSS component classes.
This essentially allows us to make our own tailwind-like classNames. */
.my-svg-header {
  display: inline;
  vertical-align: -0.15em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-svg-side {
  display: inline;
  vertical-align: -0.15em;
}

.my-h1 {
  @apply font-bold text-4xl tracking-tight mb-8;
}
.my-h2 {
  @apply font-bold text-3xl tracking-tight mb-8 mt-8;
}
.my-h3 {
  @apply font-bold text-2xl tracking-tight mb-4;
}
.my-para {
  @apply text-gray-800 dark:text-gray-400 mb-8;
}

.my-link-blue {
  @apply underline text-blue-600 hover:text-blue-800;
}
.my-link-blue-dark {
  @apply underline text-blue-400 hover:text-blue-600;
}

.my-link-purple {
  @apply underline text-purple-600 hover:text-purple-700;
}
.my-link-purple-dark {
  @apply underline text-purple-400 hover:text-purple-600;
}

.my-link-red {
  @apply underline text-red-600 hover:text-red-800;
}
.my-link-red-dark {
  @apply underline text-red-400 hover:text-red-600;
}

.my-nav-link {
  @apply text-blue-600 hover:text-blue-800;
}
.my-nav-link-dark {
  @apply text-blue-400 hover:text-blue-600;
}

.prose a {
  @apply underline text-blue-600 hover:text-blue-800;
}

/* On screens that are 767px wide or less
make the text menu links disappear */
@media screen and (max-width: 767px) {
  .nav-no-show {
    display: none;
  }
}

html {
  min-width: 360px;
  /* Notably for our "top" button in blog posts */
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Code stylings */
pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-size: 0.8em;
  font-weight: 400;
}
